html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbfbfb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(12, 12, 12, 0.7);
  font-size: 16px;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #0c0c0c;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

.hero__title,
.about__title,
.catalog__title,
.sale__title,
.reviews__title,
.contact__title {
  color: #0c0c0c;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.9;
  letter-spacing: -0.02em;
}

.hero__text,
.about__text,
.info__description,
.reviews__text,
.form__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.section {
  padding: 50px 0;
}

.logo,
.footer__logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
}

/* #region header */

.header {
  border: 1px solid #000000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding: 32px 15px;
  margin: 0 auto;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__navigation__list {
  display: flex;
  gap: 40px;
}

.logo {
  margin-right: 203px;
  display: inline-block;
}

.header__icon__list {
  display: flex;
  gap: 10px;
}

.header__navigation__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
}

.header__icon__item {
  display: flex;
}

.header__icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
}

.header__icon__link:hover,
.header__icon__link:focus {
  fill: #3350e9;
  border: 1px solid rgba(51, 80, 233, 0.1);
}

/* #endregion header */

/* #region hero */

.hero {
  padding-top: 80px;
}
.hero .container {
  display: flex;
  flex-direction: column;
}

.hero-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hero-welcome {
  max-width: 597px;
}

.hero-team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hero__title {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.875;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.title__accent {
  color: #3350e9;
}

.hero-team__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  /* text-decoration-skip-ink: none; */
}

.hero-team__link:hover,
.hero-team__link:focus {
  color: #3350e9;
}

/* #endregion hero */

/* #region about */

.about .container {
  display: flex;
}

.about__container {
  max-width: 580px;
  padding: 80px 60px;
  background-color: #f3f3f3;
  border-radius: 50px;
  margin-right: 40px;
}

.about__title {
  margin-bottom: 40px;
}

.first-text {
  margin-bottom: 20px;
}

.about__list {
  margin-bottom: 40px;
}

.about__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  border: none;
  border-radius: 16px;
  padding: 15px 37px;
  max-width: 160px;
}

.about__link:hover,
.about__link:focus {
  background-color: #1f3cd4;
}

/* #endregion about */

/* #region catalog */

.catalog .container {
  display: flex;
  flex-direction: column;
}

.catalog__list {
  display: flex;
  justify-content: center;
  gap: 32px 23px;
  flex-wrap: wrap;
}

.catalog__item {
  /* display: flex;
  flex-direction: column; */
  background-color: #f3f3f3;
  width: calc((100%-46px) / 3);
  /* align-items: center; */
  /* text-align: center; */
  padding: 24px 32px;
  max-width: 368px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
}

.catalog__title {
  margin-bottom: 40px;
}

.catalog__subtitle {
  max-width: 304px;
  min-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.catalog__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

/* #endregion catalog */

/* #region advertisement */
.advertisement__content {
  display: flex;
  justify-content: space-between;
  background-color: #0c0c0c;
  border-radius: 30px;
  background-image: url('/images/advertisement-opasity.png');
  padding: 83px 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.advertisement__text {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.9;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 690px;
}

.advertisement__accent {
  color: rgba(251, 251, 251, 0.5);
}

.advertisement__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  padding: 15px 43px;
  width: 160px;
  height: 48px;
}

.advertisement__link:hover,
.advertisement__link:focus {
  background: #fbfbfb;
  color: #0c0c0c;
}

/* #endregion advertisement */

/* #region sale */

.sale .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 20px; */
}

.sale__title {
  display: block;
  width: 100%;
  padding-bottom: 40px;
}

.sale__product {
  display: flex;
  min-width: 580px;
  justify-content: space-between;
  gap: 20px;
}

.container__four-foto {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.sale__list__four-foto {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
}

.sale__item__four-foto {
  background: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 20px;
  min-width: 132px;
  padding: 16px 18px;
}

/* .sale__image__four-foto{
  min-width: 96px;
  height: 100px;
} */

.container__main-image {
  background: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container__info {
  max-width: 530px;
  padding: 60px;
  background-color: #3350e9;
  border-radius: 50px;
}

.info__header {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.info__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.info__list-price {
  display: flex;
  gap: 9px;
  margin-bottom: 30px;
  align-items: center;
}

.info__item-accent-price {
  background: rgba(251, 251, 251, 0.1);
  border-radius: 8px;
  padding: 8px 12px;
}

.info__text-accent-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.info__text-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.info__description {
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 40px;
}

.info__list-hashtag {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.info__item-hashtag {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}

.info__text-hashtag {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
}
/* #endregion sale */

/* #region reviews */

.reviews .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.reviews__list {
  display: flex;
  gap: 20px;
}

.reviews__item {
  width: calc((100% - 40px) / 3);
  background: #f3f3f3;
  border-radius: 30px;
  padding: 32px 36px;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.reviews__text {
  text-align: center;
}

.reviews__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

/* #endregion reviews */

/* #region contact */

.contact .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.container__form__image {
  display: flex;
  gap: 40px;
}

.container__form {
  background: #f3f3f3;
  border-radius: 50px;
  max-width: 580px;
  padding: 50px 60px;
}

.contact__title {
  display: block;
  width: 100%;
  padding-bottom: 40px;
}
/* #endregion contact */

/* #region footer */

.footer .container {
  display: flex;
  flex-direction: column;
}

.footer {
  background: #0c0c0c;
  border-radius: 30px;
  padding: 40px 40px 28px;
}

.container__hat,
.container__middle,
.container__bottom {
  display: flex;
  justify-content: space-between;
}

.footer__icon__list,
.footer__navigation__list,
.footer__legal__list {
  display: flex;
}

.footer__logo {
  color: #fbfbfb;
  display: inline-block;
}

.footer__icon__list {
  gap: 10px;
  display: flex;
}

.footer__icon__item {
  display: flex;
}

.footer__icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
}

.footer__icon__link:hover .footer__icon_image,
.footer__icon__link:focus .footer__icon_image {
  opacity: 1;
}

.footer__icon_image {
  opacity: 0.8;
  fill: #fbfbfb;
  transition-duration: 300ms;
}

/* #endregion footer */
